@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* background-color: #ffe4e1; */
}

.main {
  background-color: #ffddf4;
}

/* LOGIN PAGE */
.log-reg-page {
  display: flex;
  flex-direction: column;
}

.title-body{
  font-family: 'Poppins', sans-serif;
  height: 20%;
  text-align: center;
  display: grid;
}

.title{
  color: #FFB6C1;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 300;
}
.title-content{
  display: block; /*Makes each line of text inside of the span 100% width so it will fall on the next line.*/
  opacity: 0;
  animation: revealText .5s forwards; /*Adding the animation over .5 seconds. Forwards means the last state will be the styles applied at 100% (to).*/
}
/*Adding individual animation delays so that the text animates in at different stages.*/
.title-second{
  animation-delay: .2s;
}
.title-third{
  animation-delay: .35s;
}
.title-fourth{
  animation-delay: .5s;
}
/*From and to is just another way of saying start at 0 and end at 100%.*/
@keyframes revealText {
  from{
      transform: translateY(20px); /*Moves the element down by 20px.*/
  }
  to{
      opacity: 1; /*Turn the opacity back on so that we can see the element in it's final animation state.*/
      transform: none; /*Removes the 20px so that the text will be at the normal starting position at the end of the animation.*/
  }
}

.log-reg-form {

}

/* CALENDAR */

.calendar-body {
  width: 80%;
  height: 50%;
  margin: 50px auto;
}

.month {
  text-align: center;
  color: black;
}

.white {
  color: white;
}

.days {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.first-week{
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.second-week{
  text-align: center;
  display: flex;
  justify-content: space-around;
}

/* NAVBAR TOP */
.nav-logo {
  background-color: #FFB6C1;
  overflow: hidden;
  display: flex;
  justify-content: left;
  font-size: 30px;
  /* height: 60px;  */
  padding: 15px;
}

.project-title {
  font-size: 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin: 10px 15px;
}

/* NAVBAR BOTTOM*/
.nav-bottom {
  background-color: #FFB6C1;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: 60px; 
}

.nav-bottom-left {
  float: left;
  color: white;
  text-align: center;
  align-items: center;
  /* padding: 10px; */
  margin: 0px  15px;
  text-decoration: none;
  font-size: 20px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.link {
  text-decoration: none;
  color: white;
  padding: 10px;
  /* margin: 5px 0px; */
}

.nav-bottom-left .link:hover {
  color: black;
  text-decoration: underline;
}

.hello {
  font-weight: 800;
  color: black;
}

.nav-bottom-left .link:hover {
  color: black;
  text-decoration: underline;
}

.nav-bottom-right {
  width: 20%;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
  /* margin-left: 1000px; */
}

.log-out-button {
  background: none;
  border: none;
  font-size: 18px;
  text-align: center;
  align-items: center;
  color: white;
  cursor: pointer;
  font-weight: bolder;
}

.log-out-button:hover {
  color: black;
  text-decoration: underline;
}

/* WORKOUT VIDS */
.workout-title{
  text-align: center;
  margin: 30px 10px;
  text-decoration: underline;
  color: #FFB6C1;
}

.vid-top-row {
  display: flex;
  justify-content: space-around;
}

.vid-bottom-row {
  display: flex;
  justify-content: space-evenly;
}

.exercise {
  width: 25%;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 20px;
  /* color: #FFB6C1; */
}

.exercise h1 {
  text-align: center;
}

.exercise:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardio {
  text-align: center;
  color: #FFB6C1;
}

/* REST DAY */
.rest-day {
  text-align: center;
  margin-top: 100px;
  font-size: 60px;
  color: #FFB6C1;
}

/* WORKOUT FORM */
.workout-form {
  display: flex;
  justify-content: center;
  /* margin: 30px;
  padding: 20px; */
}

.exercise-form {
  text-align: center;
  margin: 30px;
  font-size: 20px;
  width: 30%;
  /* border: 1px solid black; */
}

textarea {
  resize: none;
  border: 1px solid black;
  padding: 2px;
}

.workout-button {
  font-size: 25px;
  text-decoration: none;
  width: 30%;
  text-align: center;
  margin-left: 35%;
  background-color: #FFB6C1;
  color: white;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.workout-button:hover {
  box-shadow: 0 8px 6px 0 rgba(0,0,0,0.2);
}

/* DISPLAY ALL */
.display-all {
  border: 5px solid #FFB6C1;
  width: 30%;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
  overflow: auto;
  /* text-decoration: none; */
}

.username-link {
  color: #FFB6C1;
}

/* DISPLAY ONE */
.display-one {
  text-align: center;
  border: 5px solid #FFB6C1;
  border-radius: 25px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  width: 40%;
  font-size: 20px;
}

.display-one-buttons, .edit-form-button {
  background-color: #FFB6C1;
  border: none;
  width: 15%;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
  margin-top: 20px;
  font-size: 17px;
  padding: 5px;
}

.display-one a {
  color:#FFB6C1;
}

/* EDIT FORM */
.edit-form {
  border: 5px solid #FFB6C1;
  width: 40%;
  border-radius: 25px;
  text-align: center;
  margin: auto;
  padding: 20px;
}

.edit-form h3 {
  color: #FFB6C1;
}

/* PROFILE */
.profile {
    border: 5px solid #FFB6C1;
    width: 30%;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    overflow: auto;
    /* text-decoration: none; */
}

/* .heart {
  display:inline-block;
  width: 200px; 
  aspect-ratio: 1;
  border-image: radial-gradient(red 69%,#0000 70%) 84.5% fill/100%;
  clip-path: polygon(-41% 0,50% 91%, 141% 0);
}

.heart:hover {
  border-image: #FFB6C1;
} */


  /* .heart-shape{
    position: relative;
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #FFB6C1;
  }
  .heart-shape:before,
  .heart-shape:after{
    position: absolute;
    width: 200px;
    height: 200px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #FFB6C1;
  }
  .heart-shape:before{
    bottom: 0px;
    left: -100px;
  }
  .heart-shape:after{
    top: -100px;
    right: 0px;
  } */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
